body {
  background-color: #DCDCDC;
}

.tDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tCard {

  margin-top: 20%;

  display: flex;

  transition-duration: 0.3s;
  transition-property: box-shadow;

  border-radius: 45px;
  padding: 50px;
  width: 30em;

  box-shadow: 0 0 8px transparent;
}

.tCard:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tFormText {
  background-color: #E9E9E9;
  height: 3em; 
}

.tFormText:focus {
  border-color: #FFC8C8 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 200, 200, 0.25);;
}

#loginTitle {
  font-size: 40px;
}

#logo {
  width: 10em;
  height: 10em;
  margin-bottom: 10px;
}

#oauth {
  margin-top: 5px;
  margin-bottom: 5px;

}

#loginButton {

  transition-duration: 0.3s;
  transition-property: box-shadow;

  background-color: #FFC8C8;
  border-color: #FFC8C8;
  color: black;
  font-size: 20px;

  box-shadow: 0 0 8px transparent;

}

#loginButton:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.Song {
  margin-bottom: 5px;
}

.SongCover {

  transition-duration: 0.3s;
  transition-property: box-shadow;

  width: 20em;
  height: 20em;

  box-shadow: 0 0 8px transparent;

  margin-bottom: 5px;
}

.SongCover:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
